.Pepperoni-header {
  font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 72px;
  text-align: center;
  color: azure;
}

.Pepperoni-text {
  font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
  color: azure;
  font-size: 20px;
  text-align: center;
}

.Pepperoni-text-secret {
  font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
  color: azure;
  font-size: 13px;
  text-align: center;
}

.Pepperoni-footer {
  font-family: 'Product Sans', 'Roboto', Arial, Helvetica, sans-serif;
  color: azure;
  margin-top: 10px;
  text-align: center;
}